* {
  margin: 0px;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 36);
  color: white;
  font-family: "Poppins", sans-serif;
}

.activeLink {
  color: rgb(145, 145, 239);
}

.purple {
  color: rgb(202, 56, 255);
}

.text-gray {
  color: gray;
}
.text-center {
  text-align: center;
}

.logo-img {
  height: 35px;

  margin: 0px 2px;
}

.logo-img:hover {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px,
    rgba(254, 252, 252, 0.12) 0px -12px 30px,
    rgba(245, 242, 242, 0.12) 0px 4px 6px,
    rgba(235, 232, 232, 0.17) 0px 12px 13px,
    rgba(235, 233, 233, 0.09) 0px -3px 5px;
  border-radius: 12px;
}

.logo {
  height: 70px;
  border-radius: 80px;
}

#navbar {
  position: sticky;
  top: 0px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(37, 37, 79);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0px 23px;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  font-size: 1.02rem;
  color: rgb(145, 145, 239);
}

.left {
  font-size: 1.7rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 130px 0;
}

.firstSection > div {
  width: 30%;
}

.leftSection {
  font-size: 3rem;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: purple;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover{
  box-shadow: rgba(166, 39, 225, 0.623) 0px 25px 50px -12px;
}

.rightSection img {
  width: 80%;
}

main hr {
  border: 0;
  background: #5653e1;
  height: 1px;
  margin: 60px 84px;
}

.secondSection h1 {
  display: grid;
  justify-content: center;
  font-size: 2rem;
}
.secondSection .qualification-box {
  background: #eaeaff;
  width: 73%;
  margin: 50px auto;
  padding: 50px;
}

.secondSection .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.secondSection .boxes {
  background: #6364e9;
  border-radius: 8px;
  padding: 20px;
}
.img {
  display: grid;
  justify-content: center;
}
.box-img {
  width: 100px;
}

.boxes h2 {
  color: #d4d4f9;
  font-size: 28px;
}
.boxes p {
  color: bisque;
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.5;
}

.thirdSection h1 {
  display: grid;
  justify-content: center;
  font-size: 2rem;
}

.thirdSection .project-box {
  background: #eaeaff;
  width: 73%;
  margin: 50px auto;
  padding: 50px;
}

.thirdSection .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
.thirdSection .boxes {
  background: #6364e9;
  border-radius: 8px;
  padding: 20px;
}

 
.about div h1{
  display: grid;
  color: white;
  justify-content: center;
  font-size: 2rem;
  margin: 5px;
}

.about div p{
  padding: 0px 50px;
  color: white;
}
.about div img{
  display: grid;
  justify-content: center;
  margin: 10px auto;
  width: 15%;
  clip-path: circle();
}

.fourthSection .contact-box {
  background: #eaeaff;
  width: 73%;
  margin: 50px auto;
  padding: 50px;
}

.fourthSection h1 {
  display: grid;
  justify-content: center;
  font-size: 2rem;
}
